
.sobreMi{
    background-color: rgba(0, 0, 0, 0.179);
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    
}

.sobreMi_container{
    padding: 50px 0;
}

.sobreMi_text_1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px 0;

}


.sobreMi_text_3{

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(240, 248, 255, 0.636);
    padding: 35px  20%;
    letter-spacing: 1px;
    
}

/*habilidades*/

.habilidades_text_1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 70px 0 20px 0;
    color: white;
    text-align: center;
}

.cards_container--habilidades{
    display: flex;
    flex-wrap: wrap;
    padding: 35px 25%;
    justify-content: center;
    text-align: center;
}

.cards--habilidades{
    background-color: rgba(0, 0, 0, 0.179);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    width: 8rem;
    margin: 10px 20px 10px 20px;
}

.cards--habilidades img {
    width: 6rem;
    filter: grayscale(100%) ;
    padding-top: 10px; 
}

.cards--habilidades img:hover {
    filter: grayscale(0%);
    transition: 1s;
    transform: scale(1.1);
}


.cards--habilidades p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1rem;
    font-size: 0.8rem;
    padding-bottom: 10px;
}










/*media query*/
@media all and (max-width:980px) {

    .sobreMi_text_1{
        font-size: 24px;
    }
    
    .sobreMi_text_2{
        font-size: 22px;/**/
    }

    .sobreMi_text_3{
        font-size: 12px;
        padding: 35px  7%;
    }


    /*habilidades*/
    .cards_container--habilidades{
        padding: 35px 0%;/**/
    }

}